.featured {
    height: 100vh;
}

.vertical{
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, #111 10%, transparent 90%);
}

.horizontal{
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, #111 30%, transparent 70%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-bottom:150px;
    padding-top: 70px ;
}

.name {
    font-size: 60px;
    font-weight: bold;
}

.info {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

.points{
    color: #46d369;
}

.points, .year, .season{
    display: inline-block;
    margin-right: 15px;
}

.description{
    margin-top: 15px;
    font-size: 20px;
    color: #999;
    max-width: 40%;
}

.buttons{
    margin-top: 15px;
}

.btnList{
    background-color: #333;
    color: #fff;
}

.btnWatch{
    background-color: #fff;
    color: #000;
}

.btnList, .btnWatch{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 25px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    opacity: 1;
    transition: all ease 0.2s;
}

.btnList:hover, .btnWatch:hover {
    opacity: 0.7;
}

.genres {
    margin-top: 15px;
    font-size: 18px;
    color: #999;
}