.movieRow {
    margin-bottom: 30px;
}

.movieRow h2 {
    margin: 0px 0px 0px 30px;
}

.listarea {
    overflow: hidden;
    padding-left: 30px;
}

.list {
    width: 999999999px;
}

.item {
    display: inline-block;
    width: 150px;
    cursor: pointer;
}

.img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.2s;
}

.img:hover {
    transform: scale(1)
}

.left, .right {
    position: absolute;
    width: 40px;
    height: 225px;
    z-index: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.5s;  
}

.left{
    left:0;
}

.right{
    right:0;
}

.movieRow:hover .left, .movieRow:hover .right{
    opacity: 1;
}